@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "icons.css";

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    border:none;
    outline: none;
    background: none;
    text-decoration: none;
    color: #37474F;
}
a, button, i{
    transition: 0.2s;
}
a:hover, button:hover{
    cursor: pointer;
}
h1{
    font-size: 32px;
    line-height: 42px;
    font-weight: 400;
    font-family: 'Archive';
    text-align: center;
}

.header{
    background: linear-gradient(to bottom, #ECEFF1 50%, white 50%);
    box-sizing: border-box;
    max-height: 158px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    transition: 0.2s;
}
.header--hidden{
    transform: translateY(-67px);
    padding-bottom: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
.header--wrap{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    gap: 30px;
}
.header__logo{
    display: flex;
    align-items: flex-end;
}
.header__logo.hidden{
    align-items: center;
}
.header__logo-image{
    width: 145px;
    transition: 0.2s;
}
.header__logo-image.hidden{
    width: 55px;
}
.header__logo-text{
    display: flex;
    flex-direction: column;
    max-width: 191px;
    width: 100%;
}
.header__logo-text--name{
    font-family: 'Archive';
    font-size: 25px;
}
.header__logo-text--value{
    font-size: 14px;
}
.header__right{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 33px;
}
.header__right.hidden{
    gap: 50px;
}
.header__right-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
}
.header__nav{
    display: flex;
    align-items: center;
    gap: 40px;
}
.header__nav-item{
    font-size: 16px;
    line-height: 21px;
}
.header__nav-item:hover{
    color: #FB8C00;
}
.header__mail{
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__mail:hover{
    color: #FB8C00;
}
.header__mail:hover > i{
    color: #FB8C00;
}
.header__right-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: -10px;
}
.header__search{
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
}
.header__search-cat{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    color: rgba(124, 179, 66, 1);
    background: #F1F8E9;
    border-radius: 12px;
    width: 100%;
    max-width: 126px;
    height: 52px;
}
.header__search-cat:hover{
    background: rgba(124, 179, 66, 1);
    color: #F1F8E9;
}
.header__search-cat:hover > i{
    color: #F1F8E9;
}
.header__search-input{
    width: 602px;
    background: #FFFFFF;
    border: 2px solid #FB8C00;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 16px 56px;
    font-size: 16px;
    line-height: 19px;
    background: url("../img/search.svg") no-repeat 20px 14px;
}
.header__search-input::placeholder{
    color: rgba(84, 110, 122, 1);
}
.icon-vector{
    font-size: 18px;
    height: 18px;
}
.icon-frame-3295-1{
    font-size: 24px;
    height: 24px;
    color: rgba(124, 179, 66, 1);
}
.header__tel{
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}
.header__tel:hover{
    color: #FB8C00;
}
.header__ref{
    display: flex;
    align-items: center;
    gap: 16px;
}
.header__ref-cart{
    position: relative;
}
.header__ref-cart--value{
    font-size: 12px;
    font-weight: 900;
    color: white;
    width: 24px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FB8C00;
    border-radius: 4px;
    position: absolute;
    top: -9px;
    right: -9px;
}
.header__ref-user--icon:hover, .header__ref-cart:hover > .header__ref-cart--icon{
    color: #FB8C00;
}
.icon-user-circle{
    font-size: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-group{
    font-size: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    max-width: 1440px;
    margin: 184px auto 100px;
}
.products{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.products__field{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.products__item{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #ECEFF1;
    border-radius: 16px;
    box-sizing: border-box;
    padding: 0 16px 20px;
    max-width: 345px;
    width: 100%;
    position: relative;
    transition: 0.2s;
}
.products--link{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}
.products__item-image{
    width: 245px;
    height: 168px;
    object-fit: contain;
    border-bottom: 1px solid rgba(236, 239, 241, 1);
    padding:0 14px 12px;
}
.products__item-name{
    font-size: 18px;
    line-height: 23px;
}
.products__item-chars{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}
.products__item-chars--field{
    display: flex;
    align-items: center;
    gap: 8px;
}
.chars__name{
    font-size: 16px;
    line-height: 21px;
    color: rgba(96, 125, 139, 1);
    width: 160px;
}
.chars__value{
    font-size: 16px;
    line-height: 21px;
}
.products__item-price{
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    margin-top: 4px;
    position: relative;
}
.products__item-price--current{
    font-size: 22px;
    line-height: 29px;
    font-family: 'Archive';
}
.products__item-price--old{
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    color: rgba(55, 71, 79, 0.4);
    text-decoration: line-through;
}
.available{
    display: flex;
    align-items: flex-end;
    gap: 3px;
    position: absolute;
    bottom: 7px;
    right: 7px;
}
.available span{
    width: 3px;
    border-radius: 3px;
}
.available span:first-child{
    height: 7.5px;
}
.available span:nth-child(2){
    height: 11px;
}
.available span:last-child{
    height: 15.75px;
}
.much span{
    background: rgba(124, 179, 66, 1);
}
.middle span:not(:last-child){
    background: rgba(3, 155, 229, 1);
}
.middle span:last-child{
    background: rgba(179, 229, 252, 1);
}
.low span:not(:first-child){
    background: rgba(255, 204, 188, 1);
}
.low span:first-child{
    background: rgba(244, 81, 30, 1);
}
.products__item-buttons{
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    width: calc(100% + 2px);
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 16px 22px;
    transition: 0.2s;
    background: white;
    z-index: 1;
    opacity: 0;
}
.products__item-buttons--top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.products__col{
    display: flex;
    align-items: center;
    gap: 11px;
}
.icon-vector-1, .icon-vector2-1{
    font-size: 16px;
    height: 16px;
}
.products__col-input{
    text-align: center;
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 21px;
}
.products__buy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: #FFF3E0;
    border-radius: 8px;
    width: 134px;
    height: 46px;
    position: relative;
    overflow: hidden;
}
.products__buy.active{
    background: rgba(241, 248, 233, 1);
}
.products__buy p.active{
    color: rgba(124, 179, 66, 1);
}
.products__buy i.active{
    color: rgba(124, 179, 66, 1);
}
.products__buy p{
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: rgba(251, 140, 0, 1);
    z-index: 1;
}
.products__buy i{
    z-index: 1;
}
.products__buy:hover > p{
    color: #FFF3E0;
}
.products__buy:hover > i{
    color: #FFF3E0;
}
.products__buy:before{
    content: '';
    position: absolute;
    transform: translateX(-100%);
    background: #FB8C00;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    border-radius: 8px;
}
.products__buy.active:before{
    content: '';
    position: absolute;
    transform: translateX(-100%);
    background: #7CB342;;
    width: 100%;
    height: 100%;
    transition: 0.2s;
    border-radius: 8px;
}
.products__buy:hover:before{
    transform: translateX(0);
}
.products__buy-icon{
    color: rgba(251, 140, 0, 1);
}
.products__click{
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: rgba(251, 140, 0, 1);
    position: relative;
}
.products__click:after{
    content: '';
    height: 2px;
    background-color: #FB8C00;
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    display: block;
    transition: 0.2s;
}
.products__click:hover:after{
    left: 0;
    right: 0;
}
.products__item:hover{
    border-bottom: none;
    border-radius: 16px 16px 0 0;
    border-color: rgba(251, 140, 0, 1);
}
.products__item:hover > .products__item-buttons{
    bottom: -102px;
    opacity: 1;
    border-right: 1px solid rgba(251, 140, 0, 1);
    border-bottom: 1px solid rgba(251, 140, 0, 1);
    border-left: 1px solid rgba(251, 140, 0, 1);
    border-radius: 0 0 16px 16px;
}
.products__item-actions{
    position: absolute;
    top: 8px;
    width: calc(100% - 16px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.products__item-actions > div{
    display: flex;
    align-items: center;
    gap: 8px;
}
.products__item-actions--hit{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(3, 155, 229, 1);
    background: #E1F5FE;
    border-radius: 8px;
    padding: 8px 10px;
}
.products__item-actions--new{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(124, 179, 66, 1);
    background: rgba(241, 248, 233, 1);
    border-radius: 8px;
    padding: 8px 10px;
}
.products__item-actions--success{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: rgba(244, 81, 30, 1);
    background: rgba(251, 233, 231, 1);
    border-radius: 8px;
    padding: 8px 10px;
}
.products__col-minus:hover, .products__col-plus:hover{
    color: #FB8C00;
    cursor: pointer;
}
.icon-vector-stroke{
    font-size: 18px;
    height: 18px;
}
.about{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    max-width: 540px;
}
.about__text-desc{
    font-size: 20px;
    line-height: 34px;
}
.about__image{
    max-width: 831px;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}
.pluses{
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.pluses__grid{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}
.pluses__grid-item{
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 464px;
    width: 100%;
}
.pluses__grid-item--image{
    max-width: 144px;
    width: 100%;
}
.pluses__grid-item--text{
    font-size: 18px;
    line-height: 27px;
    max-width: 306px;
}
.get{
    max-width: 1440px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
    background: #ECEFF1;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 40px;
}
.get__choose{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
}
.get__choose-item{
    display: flex;
    align-items: center;
    gap: 30px;
    background: white;
    border-radius: 20px;
    width: 100%;
}
.get__choose-item--image{
    max-width: 248px;
    width: 100%;
}
.get__choose-item--text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 358px;
}
.choose__title{
    font-size: 24px;
    font-weight: 500;
    line-height: 41px;
}
.choose__list{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.choose__list-item{
    font-size: 16px;
    line-height: 27px;
}
.choose__list-orange{
    color: #FB8C00;
}
.choose__list-green{
    color: #7CB342;
}
.choose__desc{
    margin-top: -15px;
    font-size: 16px;
    line-height: 21px;
    color: #78909C;
}
.footer{
    border-top: 1px solid #ECEFF1;
    padding: 20px 0;
}
.footer__wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1440px;
    margin: 0 auto;
}
.footer__wrap-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__nav{
    display: flex;
    align-items: center;
    gap: 24px;
}
.footer__nav-item{
    font-size: 16px;
    line-height: 21px;
}
.footer__nav-item:hover{
    color: #FB8C00;
}
.footer__contacts{
    display: flex;
    align-items: center;
    gap: 32px;
}
.footer__contacts-item{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    line-height: 21px;
}
.footer__contacts-item:hover{
    color: #FB8C00;
}
.footer__socials{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__wrap-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__policy{
    font-size: 16px;
    line-height: 21px;
    color: #90A4AE;
}
.footer__intrid{
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 34px;
    gap: 5px;
    background: #90A4AE;
    border-radius: 20px;
}
.footer__intrid-fat{
    font-weight: 700;
    color: white;
}
.footer__intrid-circle{
    width: 24px;
    height: 24px;
    background: white;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.footer__intrid-circle--in{
    width: 6px;
    height: 6px;
    border-radius: 100px;
    background: #90A4AE;
    transition: 0.2s;
}
.footer__intrid:hover{
    background: #FB8C00;
}
.footer__intrid:hover .footer__intrid-circle--in{
    background: #FB8C00;
}
.footer__socials-item:hover > i{
    color: #FB8C00;
}
.footer__socails-item--icon{
    color: #546E7A;
    font-size: 24px;
    height: 24px;
}
.hidden__catalog{
    display: none;
    position: absolute;
    top: calc(100% + 15px);
    left: -13%;
    background: white;
    border: 1px solid #ECEFF1;
    border-radius: 12px;
    padding: 24px;
    z-index: 2;
    transition: 0.2s;
}
.hidden__catalog-field{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.hidden__catalog-item{
    display: flex;
    position: relative;
}
.hidden__catalog-item--link, .hidden__under-item{
    padding: 14px 16px;
    font-size: 18px;
    line-height: 22px;
    border-radius: 8px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}
.hidden__catalog-item.active{
    background: #F1F8E9;
    border-radius: 8px;
}
.hidden__catalog-item--link:hover, .hidden__under-item:hover{
    background: #F1F8E9;
    cursor: pointer;
}
#overlay{
    z-index: 4;
    background: #37474F;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.hidden__under{
    display: flex;
    flex-direction: column;
    gap: 0;
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #ECEFF1;
    border-radius: 0 12px 12px 0;
    left: calc(100% + 25px);
    top: -25px;
    z-index: 5;
    transition: 0.2s;
    padding: 24px;
    opacity: 0;
    visibility: hidden;
    width: 100%;
}
.mobile__header{
    display: none;
}
.menu{
    display: none;
}
.main__slider{
    position: relative;
}
.main__slider-dots{
    position: absolute;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__slider-item{
    border-radius: 20px;
    object-fit: cover;
    width: 100%;
}
.swiper-slide{
    object-fit: cover;
}
.picture--wrapper{
    width: 100%;
    object-fit: cover;
}
.mobile__contacts{
    display: none;
}
.icon-frame-3295{
    color: #7CB342;
    font-size: 24px;
    height: 24px;
}
.hidden__under-button{
    display: none;
}
.modals{
    position: absolute;
}
#login, #reset{
    display: none;
    padding: 62px 32px 32px;
    position: relative;
}
.login__form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.login__form-title{
    margin-bottom: 8px;
}
.login__form-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    width: 100%;
}
.login__form-name{
    font-size: 15px;
    line-height: 23px;
    color: rgba(96, 125, 139, 1);
}
.login__form-input{
    background: #FFFFFF;
    border: 2px solid #ECEFF1;
    border-radius: 12px;
    font-size: 16px;
    line-height: 21px;
    padding: 21px 16px;
    box-sizing: border-box;
    width: 100%;
}
.login__form-input:focus{
    border-color: #FB8C00;
}
.login__form-forgot{
    font-size: 16px;
    line-height: 21px;
    color: #FB8C00;
    position: relative;
    align-self: flex-start;
    margin-bottom: 8px;
}
.login__form-forgot:after{
    content: '';
    height: 2px;
    background-color: #FB8C00;
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    display: block;
    transition: 0.2s;
}
.login__form-forgot:hover:after{
    left: 0;
    right: 0;
}
.login__form-submit{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: rgba(120, 144, 156, 1);
    background: #ECEFF1;
    border-radius: 12px;
    padding: 16px 32px;
    margin-bottom: 4px;
}
.login__form-submit:hover{
    color: white;
    background: #FB8C00;
}
.login__form-reg{
    font-size: 16px;
    line-height: 21px;
}
.login__form-reg--go{
    color: #FB8C00;
    position: relative;
}
.login__form-reg--go:hover{
    cursor: pointer;
}
.login__form-reg--go:after{
    content: '';
    height: 2px;
    background-color: #FB8C00;
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    display: block;
    transition: 0.2s;
}
.login__form-reg--go:hover:after{
    left: 0;
    right: 0;
}
.login__form-close{
    position: absolute;
    top: 32px;
    right: 32px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login__form-close:hover > span{
    background: #FB8C00;
}
.login__form-close > span{
    display: block;
    width: 20px;
    height: 2px;
    background: rgba(55, 71, 79, 1);
    position: absolute;
    transition: 0.2s;
}
.login__form-close > span:first-child{
    transform: rotate(45deg);
}
.login__form-close > span:last-child{
    transform: rotate(-45deg);
}
.login__form-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    margin-top: 24px;
}
.login__form-cancel{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: #FB8C00;
    border: 1px solid #FB8C00;
    background: white;
    padding: 16px 24px;
    border-radius: 12px;
}
.login__form-cancel:hover{
    background: #FB8C00;
    color: white;
}
.login__form-link{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    color: white;
    border: 1px solid #FB8C00;
    background: #FB8C00;
    padding: 16px 32px;
    border-radius: 12px;
}
.login__form-link:hover{
    background: white;
    color: #FB8C00;
}
.login__form-success{
    width: 91px;
}
.login__form-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.login__form-text > p{
    text-align: center;
}
.login__form-text--title{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}
.login__form-text--desc{
    font-size: 16px;
    line-height: 21px;
}
.login__form-text--again{
    color: #FB8C00;
    position: relative;
}
.login__form-text--again:hover{
    cursor: pointer;
}
.login__form-text--again:after{
    content: '';
    height: 2px;
    background-color: #FB8C00;
    position: absolute;
    bottom: -2px;
    left: 50%;
    right: 50%;
    display: block;
    transition: 0.2s;
}
.login__form-text--again:hover:after{
    left: 0;
    right: 0;
}
#success{
    position: relative;
    display: none;
    padding: 86px 32px 32px;
}

@media screen and (min-width: 1000px) and (max-width: 1480px) {
    .header--wrap, .main, .products, .about, .pluses, .get, .footer__wrap{
        max-width: calc(100% - 40px);
    }
    .about{
        flex-wrap: wrap;
    }
    .header__logo-image{
       width: 80px;
    }
    .header__right-top{
        padding-top: 25px;
        width: 100%;
    }
    .header__right-bottom{
        gap: 20px;
    }
    .header__search{
        width: 100%;
    }
    .header__search-input{
        width: 100%;
    }
    .header__tel{
        min-width: 160px;
    }
    .get__choose{
        flex-wrap: wrap;
    }
    .products__item{
        max-width: 300px;
    }
    .pluses__grid-item{
        max-width: 400px;
    }
    .main__slider-item{
        object-fit: cover;
        min-height: 430px;
    }
    .header--hidden{
        transform: translateY(-90px);
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .header__nav{
        gap: 11px;
    }
    .header--wrap{
        gap: 15px;
    }
    .header__logo-text{
        max-width: 152px;
    }
    .header__logo-text--name{
        font-size: 20px;
    }
    .header__logo-text--value{
        font-size: 11px;
    }
}
@media screen and (max-width: 999px) {
    .header{
        background: white;
        position: unset;
    }
    .header__right-top{
        display: none;
        flex-direction: column;
        position: fixed;
        top: 71px;
        background: white;
        width: 100%;
        height: 100%;
        left: 0;
        z-index: 2;
        padding: 38px 24px 0;
        box-sizing: border-box;
        justify-content: flex-start;
        gap: 100px;
    }
    .header__nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        width: 100%;
    }
    .header__right-top[style*="display: block"]{
        display:flex!important;
    }
    .header__search-input, .header__search-cat, .header__tel, .header__ref{
        display: none;
    }
    .header--wrap{
        align-items: center;
        justify-content: center;
        padding-top: 71px;
        width: 100%;
    }
    .mobile__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        border-bottom: 1px solid #ECEFF1;
        padding: 13px 15px;
        box-sizing: border-box;
        position: fixed;
        top: 0;
        background: white;
        width: 100%;
        z-index: 2;
        transition: 0.2s;
    }
    .mobile__header.hidden{
        transform: translateY(-100%);
    }
    .header__logo{
        margin-left: auto;
        padding-left: 15px;
        align-items: center;
        margin-top: 15px;
    }
    .header__logo-image{
        width: 83px;
    }
    .header__mail{
        display: none;
    }
    .mobile__contacts{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
    .mobile__contacts > .footer__contacts{
        flex-direction: column;
        gap: 30px;
    }
    #mobile__header-burger {
        width: 24px;
        height: 24px;
        position: relative;
        transition-duration: 1s;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #mobile__header-burger span {
        height: 2px;
        width: 10px;
        background-color: #37474F;
        border-radius: 20px;
        position: absolute;
        transition-duration: .25s;
        transition-delay: .25s;
    }
    #mobile__header-burger span:before {
        left: 0;
        position: absolute;
        top: -4px;
        height: 2px;
        width: 16px;
        background-color: #37474F;
        content: "";
        border-radius: 20px;
        transition-duration: .25s;
        transition: transform .25s, top .25s .25s;
    }
    #mobile__header-burger span:after {
        left: 0;
        position: absolute;
        top: 4px;
        height: 2px;
        width: 16px;
        background-color: #37474F;
        content: "";
        border-radius: 20px;
        transition-duration: .25s;
        transition: transform .25s, top .25s .25s;
    }
    #mobile__header-burger.open span {
        transition-duration: 0.1s;
        transition-delay: .25s;
        background: transparent;
    }
    #mobile__header-burger.open span:before {
        transition: top .25s, transform .25s .25s;
        top: 0px;
        transform: rotateZ(-45deg);
    }
    #mobile__header-burger.open span:after {
        transition: top 0.4s, transform .25s .25s;
        top: 0px;
        transform: rotateZ(45deg);
    }
    .mobile__header-search{
        width: 100%;
        background: #FFFFFF;
        border: 2px solid #ECEFF1;
        border-radius: 12px;
        padding: 10px 14px 10px 42px;
        position: relative;
        box-sizing: border-box;
        font-size: 16px;
        color: #546E7A;
    }
    .mobile__header-search::placeholder{
        color: #546E7A;
    }
    .mobile__header-search:focus{
        border-color: #FB8C00;
    }
    .mobile__header-search:focus .search--container:before{
        color: #FB8C00;
    }
    .search--container.active:before{
        color: #FB8C00;
    }
    .search--container:before{
        font-family: 'untitled-font-19';
        content: '\6b';
        font-size: 17px;
        height: 17px;
        color: #607D8B;
        position: absolute;
        z-index: 1;
        top: 13px;
        left: 14px;
    }
    .search--container{
        width: 100%;
        position: relative;
        box-sizing: border-box;
    }
    .mobile__header-phone{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icon-phone{
        font-size: 21px;
        height: 21px;
    }
    .main{
        margin: 16px auto 42px;
    }
    .products__title{
        display: none;
    }
    .products__item{
        max-width: 154px;
        gap: 8px;
        border: none;
        padding: 0;
        align-items: unset;
    }
    .products--link{
        gap: 8px;
    }
    .products__item-image{
        width: 155px;
        height: 120px;
    }
    .products__item-name{
        font-size: 15px;
        line-height: 20px;
    }
    .products__item-chars{
        display: none;
    }
    .products__item-price{
        margin-top: 0;
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
    }
    .products__item-price--current{
        font-size: 18px;
        line-height: 23px;
    }
    .products__item-price--old{
        font-size: 12px;
        line-height: 18px;
    }
    .available{
        top: 2px;
        bottom: unset;
        right: 30px;
    }
    .products__item-actions{
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
    }
    .products__item-actions--hit, .products__item-actions--new, .products__item-actions--success{
        font-size: 13px;
        line-height: 17px;
        padding: 3px 6px;
        border-radius: 4px;
    }
    .products__item-actions > div{
        gap: 4px;
    }
    .products__item-buttons{
        opacity: 1;
        position: unset;
        padding: 0;
    }
    .products__click{
        display: none;
    }
    .products__item:hover > .products__item-buttons{
        border: none;
    }
    .products__col{
        gap: 5px;
    }
    .products__buy{
        width: 48px;
        height: 40px;
        background: white;
        border: 1px solid #FB8C00;
    }
    .products__buy.active{
        background: #F1F8E9;
        border: none;
    }
    .products__buy.active > i{

    }
    .products__buy:before{
        display: none;
    }
    .products__buy > i{
        font-size: 21px;
        height: 20px;
    }
    .products__buy:hover > i{
        color: #FB8C00;
    }
    .products__buy.active:hover > i{
        color: #7CB342;
    }
    .products__buy > p{
        display: none;
    }
    .about{
        margin: 48px auto;
        flex-direction: column;
        gap: 32px;
    }
    .about__text{
        max-width: unset;
        gap: 16px;
        order: 2;
    }
    .about__text-desc{
        font-size: 18px;
        line-height: 27px;
    }
    .about__image{
        object-fit: cover;
        order: 1;
    }
    .pluses{
        gap: 16px;
    }
    .pluses__title{
        text-align: left;
    }
    .pluses__grid{
        gap: 16px;
    }
    .pluses__grid-item--text{
        font-size: 16px;
        line-height: 21px;
        max-width: unset;
    }
    .pluses__grid-item--image{
        width: 96px;
        height: 112px;
        object-fit: contain;
    }
    .get{
        margin: 48px auto;
        padding: 40px 16px;
    }
    .wrapper{
        padding: 0 15px;
    }
    .get__title{
        text-align: left;
    }
    .get__choose{
        flex-wrap: wrap;
        justify-content: center;
    }
    .get__choose-item{
        flex-direction: column;
        border-radius: 30px;
        max-width: 360px;
        padding-bottom: 20px;
    }
    .get__choose-item--image{
        max-width: unset;
    }
    .pluses__grid-item{
        max-width: unset;
    }
    .get__choose-item--text{
        max-width: 280px;
    }
    .footer{
        padding: 24px 0 97px 0;
    }
    .footer__wrap{
        padding: 0 24px;
    }
    .footer__wrap-top{
        flex-wrap: wrap;
        gap: 24px;
    }
    .footer__nav{
        flex-wrap: wrap;
        gap: 16px;
    }
    .footer__contacts{
        flex-wrap: wrap;
        gap: 12px;
        align-items: flex-start;
    }
    .footer__contacts > .icon-phone{
        font-size: 18px;
        height: 18px;
    }
    .footer__wrap-bottom{
        flex-wrap: wrap;
        gap: 12px;
    }
    .menu{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-top: 1px solid #ECEFF1;
        padding: 10px 16px 17px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: white;
        box-sizing: border-box;
        z-index: 10;
    }
    .menu__item{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
    }
    .menu__item-text{
        font-size: 13px;
        line-height: 17px;
    }
    .icon-percent-svgrepo-com{
        font-size: 24px;
        height: 24px;
    }
    .icon-catalog{
        font-size: 24px;
        height: 24px;
    }
    .menu__item.active > i{
        color: #FB8C00;
    }
    .menu__item.active > p{
        color: #FB8C00;
    }
    .header__search{
        height: 100%;
    }
    .hidden__catalog{
        position: unset;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 24px;
        border-radius: 0;
    }
    .header__right-bottom{
        display: none;
        position: fixed;
        left: 0;
        top: 71px;
        right: 0;
        z-index: 5;
        bottom: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        background: white;
    }
    .hidden__catalog-item--link{
        border-bottom: 1px solid #ECEFF1;
        padding: 13px 0;
        border-radius: 0;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hidden__catalog-item--link:after{
        content: '\71';
        font-family: 'untitled-font-19';
        font-size: 24px;
        height: 24px;
    }
    .hidden__catalog-item:first-child{
        padding-top: 12px;
    }
    .main__slider-item{
        object-fit: cover;
        min-height: 430px;
        max-height: 430px;
    }
    .hidden__under{
        border: none;
        top: 0;
        right: 0;
        box-sizing: border-box;
        padding: 12px 0;
        width: calc(100% - 40px);
    }
    .hidden__under-item{
        padding: 12px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }
    .hidden__under-item::after {
        content: '\71';
        font-family: 'untitled-font-19';
        font-size: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 3px;
    }
    .hidden__under-button{
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 20px;
        margin-left: -10px;
    }
    .hidden__under-icon{
        font-size: 24px;
        height: 24px;
        transform: rotate(180deg);
    }
    .hidden__catalog.active{
        transform: translateX(-100vw);
    }
}